::ng-deep .dds__table-complx-details:hover,
::ng-deep .dds__table-complx-details-body:hover {
  background: white !important;
}
::ng-deep tr .dds__table:hover {
  background: inherit !important;
}

::ng-deep tr .dds__table tr:hover {
  background: lightgray !important;
}

::ng-deep #cmplxTablesActions {
  max-width: 16rem;
}
