<div class="body">
  <app-header>
    <div class="headerRow">
      <div class="headerCol">
        <div class="sandboxLogoContainer">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="dds__icons dds__brand-delltechnologies sandboxLogo"></i>
          </a>
        </div>
      </div>
      <div class="headerCol searchCol">
        <input />
      </div>
      <div class="headerCol">
        MENU
      </div>
    </div>
  </app-header>
  <main id="bodyMain">
    <nav><a routerLink="/table">Table</a><br /></nav>
    <!-- <aside>Global Right-side content</aside> -->
    <!-- Main page content -->
    <div class="content">
      <div class="dds__container dds__pt-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
  <footer>footer</footer>
</div>
